@charset "UTF-8";
:root {
  /* Фон */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* Колір тексту*/
  --main-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --grey-txt-color: #757575;
  /* Інші */
  --items: 3;
  --indent: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font), sans-serif;
  color: #e5e5e5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Робота по класах*/
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-icon {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.contact:hover,
.contact:focus {
  color: var(--accent-txt-color);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 450ms ease-in, visibility 450ms ease-in;
  transition: opacity 450ms ease-in, visibility 450ms ease-in;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-txt-color);
}

/* Оформлення модального вікна */
.paragrapf-modal {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px 20px 40px;
}

.label-modal-form {
  position: relative;
  margin-bottom: 10px;
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-modal {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.input-modal:hover, .input-modal:focus {
  border-color: var(--accent-txt-color);
}

.icon-form {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: inline-block;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.input-modal:hover + .icon-form, .input-modal:focus + .icon-form {
  fill: var(--accent-txt-color);
}

.textarea-modal {
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  outline: transparent;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  left: 576px;
  top: 519px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.textarea-modal:hover, .textarea-modal:focus {
  border-color: var(--accent-txt-color);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 423px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  -webkit-transition: border-color var(--anim), background-color var(--anim);
  transition: border-color var(--anim), background-color var(--anim);
}
.checkbox-input:checked + .custom-checkbox {
  background-color: var(--accent-txt-color);
  border-color: var(--accent-txt-color);
}

.checkbox-icon {
  fill: #ffffff;
}

.checkbox-agreement {
  padding-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.link-agreement {
  padding-left: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-txt-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.btn-modal-form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/* Секція хедер */
.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  margin-right: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo span {
  color: var(--accent-txt-color);
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-color);
}

.nav__link--marker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-txt-color);
}
.nav__link--marker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: var(--accent-txt-color);
  border-radius: 2px;
}

.header-contact {
  margin-left: auto;
}

.header-contact__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
}

.contact {
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.contact:hover .header-contact__svg, .contact:focus .header-contact__svg {
  fill: #2196f3;
}

.header-contact__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
  margin-left: 30px;
}

.header-contact__svg {
  margin-right: 10px;
  fill: #757575;
}

/* Секція шапка */
.hat {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/bg-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/bg-img.jpg);
}

.main__div {
  background-color: #2f303a;
}

.hat__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hat__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-txt-color);
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-txt-color);
  -webkit-transition: color var(--anim), background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
}
.hat__btn:hover, .hat__btn:focus {
  background-color: #1076c7;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Секція особливості */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__section:not(:last-child) {
  margin-right: 30px;
}

.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}

.features__paragraph {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Секція роботи */
.work {
  padding-bottom: 94px;
}

.work__section {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.work__item {
  position: relative;
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.work__img {
  display: block;
}

.work__card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 100%;
  height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

/* Секція команда */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__section {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.team__list {
  --items: 4;
}

.team__icon {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-icons__svg:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill var(--anim), background-color var(--anim);
  transition: fill var(--anim), background-color var(--anim);
}
.social-icons__link:hover, .social-icons__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* Секція клієнти */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  margin-bottom: 50px;
}

.customers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__list:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: fill var(--anim), border-color var(--anim);
  transition: fill var(--anim), border-color var(--anim);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-txt-color);
  fill: var(--accent-txt-color);
}

/* Секція футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__logo span {
  color: var(--accent-txt-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}

/* .footer-container {
  display: flex;
  flex-direction: column;
} */
.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

.footer__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icons:not(:last-child) {
  margin-right: 10px;
}

.footer__link-icons {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.footer__link-icons:hover, .footer__link-icons:focus {
  background-color: var(--accent-txt-color);
}

.footer__email {
  padding-left: 93px;
}

.footer__paragraph {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.footer__input:focus {
  border-color: var(--accent-txt-color);
}

.footer__button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-txt-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-txt-color);
  padding: 10px 62px 10px 28px;
  -webkit-transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
}
.footer__button:hover, .footer__button:focus {
  background-color: #1076c7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__svg {
  position: absolute;
  fill: #ffffff;
  margin-left: 10px;
}

/* Портфоліо */
/* Фільтр робіт */
.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button__list:not(:last-child):not(:last-child) {
  margin-right: 8px;
}

.button__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim), color var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), border-radius var(--anim), border var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
}
.button__btn:hover, .button__btn:focus {
  background-color: var(--accent-txt-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* Секція проекти */
.project {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.project__images:hover .project__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__card {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.project__card:hover, .project__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__portfolio {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.project__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-color);
}

.project__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}/*# sourceMappingURL=main.css.map */